body{
    background-image: url(images/under-the-sea-vector-32.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: -400px;
    background-attachment: fixed;
}

/* create the border of the game 3 x 3
find the palette colors that will be used
choose a font that is readable */

